<!DOCTYPE html>
<html lang="ru_RU">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Авторизация :: {{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ constant('APP_URL') }}/assets/auth/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ constant('APP_URL') }}/assets/auth/css/my-login.css">
</head>

<body class="my-login-page">

    <section class="h-100">
        <div class="container h-100">
            {% block content %}{% endblock %}
        </div>
    </section>

    <script src="{{ constant('APP_URL') }}/assets/auth/js/jquery.min.js"></script>
    <script src="{{ constant('APP_URL') }}/assets/auth/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ constant('APP_URL') }}/assets/auth/js/my-login.js"></script>
</body>
</html>