{% extends "layout.html.twig" %}

{% block content %}

    <div class="row justify-content-md-center h-100">
        <div class="card-wrapper">
            <div class="brand">
                <img src="{{ constant('APP_URL') }}/assets/auth/img/rudra.png" alt="logo">
            </div>
            <div class="card fat">
                <div class="card-body">
                    <h4 class="card-title">{{ brand }}</h4>
                    <form method="POST" class="my-login-validation" novalidate="" action="login">
                        {{ csrf_field() | raw}}
                        <div class="form-group">
                            <label for="email">Введите Ваш email</label>
                            <input id="email" type="email" class="form-control" name="email" placeholder="Имя пользователя" value="{{ value('name') }}" required autofocus>
                            {{ alert('email', 'warning') | raw }}
                            <div class="invalid-feedback">
                                Email неверный
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password">Введите Ваш пароль
                                <a href="{{ constant('APP_URL') }}/forgot" class="float-right">
                                    Забыли пароль?
                                </a>
                            </label>
                            <input id="password" type="password" class="form-control" placeholder="Пароль" name="password" required data-eye>
                            {{ alert('password', 'warning') | raw }}
                            <div class="invalid-feedback">
                                Необходим пароль
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="custom-checkbox custom-control">
                                <input type="checkbox" name="remember_me" id="remember" class="custom-control-input">
                                <label for="remember" class="custom-control-label">Запомнить меня</label>
                            </div>
                        </div>

                        <div class="form-group m-0">
                            <button type="submit" class="btn btn-primary btn-block">
                                Авторизация
                            </button>
                        </div>
                        <div class="mt-4 text-center">
                            Еще не зарегистрированы? <a href="{{ constant('APP_URL') }}/register">Регистрация</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="footer">
                Copyright &copy; 2018 &mdash; Коротков Данила
            </div>
        </div>
    </div>

{% endblock %}
